{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <h1>Utilisateurs</h1>
    <a href="{{ path('app_user_new') }}" class="btn btn-sm btn-success">Ajouter un Utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <div class="button">
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-sm btn-primary">Voir</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                            class="btn btn-sm btn-warning">Modifier</a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <div class="delete">
                            {{ include('user/_delete_form.html.twig') }}
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}